@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');
/* Regular */

@font-face {
  font-family: 'Circe';
  src: local('Circe'),
    url('../fonts/Circe-Regular.ttf') format('truetype'),
    url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Bold */

@font-face {
  font-family: 'Circe';
  src: local('Circe'),
    url('../fonts/Circe-Bold.ttf') format('truetype'),
    url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

/* HEADER */
/* CONTACTS */
.header-top {
  height: 85px;
  width: 100%;
  border-bottom: #e5e5e5 1px solid;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}

#logo-header img {
  width: 174px;
  height: 57px;
  float: left;
  margin-top: 15px;
}

.contacts {
  float: right;
  margin-top: 29px;
}

.contacts div {
  float: left;
  margin-right: 70px;
}

.contacts div:last-child {
  margin-right: 0;
}

.contacts div img {
  margin-right: 8px;
  vertical-align: middle;
}

/* Menu NAV */

.header-nav {
  height: 70px;
  width: 100%;
  border-bottom: #e5e5e5 1px solid;
}

.header-nav ul {
  margin: 0;
  padding: 21px 0;
  float: left;
  /* ul блочный элемент, теперь кнопка перенеслась справа от него */
}

.header-nav li {
  float: left;
  /* в линию */
  margin-right: 90px;
  list-style: none;
  /* удаляет точки в списке */
}

.header-nav li a {
  font-size: 15px;
  color: #333;
  text-decoration: none;
  /* убираем подчеркивание ссылок*/
}

.header-nav li a:hover {
  color: #a6b03b;
  text-decoration: underline;
}

.header-nav .btn {
  width: 170px;
  height: 35px;
  border: 1px solid #909090;
  background: #fff;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin-top: 16px;
  cursor: pointer;
}

.header-nav .btn:hover {
  background: #a6b03b;
  color: #fff;
}

.header-nav .btn-img {
  background: #fff;
  border: none;
  margin-left: 31px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  padding: 0;
}

.header-nav .btn-img img {
  vertical-align: sub;
}

.header-nav .nav-open {
  display: none;
}

/* main block */
/* main header block */

.main-header {
  position: relative;
}

.header-bg img {
  width: 100%;

}

.gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.gradient.pages {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.header-promo {
  position: absolute;
  top: 29%;
  height: 40.7%;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header-promo h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.header-promo a {
  display: block;
  margin: 0 auto;
  width: 270px;
  height: 50px;
  background: #A6B03B;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 3.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.pages-header {
  position: absolute;
  top: 38%;
  height: 37%;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pages-header h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
}

.pages-header h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}

/* QUOTE */
.main-quote {
  margin-top: -4px;
  width: 100%;
  height: 200px;
  background: #F6F7EB;
  display: flex;
  align-items: center;
}

.main-quote .container {
  width: 800px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-quote h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  color: #495F1D;
}

.main-quote h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}


/* 
ABOUT 
SERVICES
*/
.main-about {
  width: 100%;
}

.main-about h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495F1D;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 39px;
}

.about-description {
  height: 120px;
  margin-bottom: 50px;
}

.about-description.services {
  height: fit-content;
  margin: 80px auto 64px;
}

.about-description p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  width: 69%;
  margin: 0 auto;
}

.aboute-competence {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding-bottom: 88px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding-bottom: 88px;
}

.competence-item {
  height: 300px;
  background: #F6F7EB;
  padding: 30px 53px 45px;
}

.services-item {
  height: 300px;
  background: #FAF9F5;
  padding: 30px 53px 45px;
}

.services-wrapper a {
  text-decoration: none;
}

.competence-item:hover {
  background: #A6B03B;
}

.services-item:hover {
  border: solid #42403b 1px;
}

.item-img-services {
  background: url(/img/services/technical-support.svg) no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto 31px;
}

.item-img {
  width: 60px;
  height: 60px;
  margin: 0 auto 35px;
}

.item-img.technical-support {
  background: url(/img/about/technical-support.svg) no-repeat;
}

.item-img.partner {
  width: 65px;
  height: 65px;
  margin-bottom: 30px;
  background: url(/img/about/partner.svg) no-repeat;
}

.item-img.leader {
  background: url(/img/about/leader.svg) no-repeat;
}

.competence-item:hover .item-img.technical-support {
  background: url(/img/about/technical-support-white.svg) no-repeat;
}

.competence-item:hover .item-img.partner {
  background: url(/img/about/partner-white.svg) no-repeat;
}

.competence-item:hover .item-img.leader {
  background: url(/img/about/leader-white.svg) no-repeat;
}

.competence-item h2,
.services-item h2 {
  text-transform: lowercase;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #495F1D;
  margin-bottom: 12px;
}

.services-item h2 {
  text-transform: none;
  margin: 0 -10px 12px;
}

.competence-item h2::first-letter {
  text-transform: uppercase;
}

.competence-item p,
.services-item p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.competence-item:hover h2 {
  color: white;
  text-transform: uppercase;
}

.competence-item:hover p {
  color: white;
}

.section-faq {}

.faq-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.faq-header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495F1D;
  margin-top: 81px;
  margin-bottom: 56px;
}

.faq-wrapper {
  display: grid;
  grid-template-columns: 50% 585px;
}

.faq-wrapper ul {
  width: 100%;
  padding-left: 31px;
  padding-right: 26px;
}

.faq-wrapper li {
  list-style: none;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background: #FAF9F5;
  padding: 18px 0 18px 26px;
}

.faq-wrapper a {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

/* CUSTOMERS */
.main-customers {
  width: 100%;
  position: relative;
  display: grid;
  justify-items: center;
}

.customers-bg {
  max-width: 100%;
}

.customers-bg::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.customers-bg img {
  max-width: 100%;
}

.main-customers .container {
  position: absolute;
}

.customers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.customers-block {
  height: 450px;
}

.customers-img {
  background: url(/img/customers/logo.svg) center / cover no-repeat;
  width: 193px;
  height: 195px;
  margin: 108px auto 0;
}

.customers-numbers {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 133px;
  color: #A6B03B;
  margin: -155px 0 15px 175px;
}

.customers-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding-left: 83px;
}

/* NEWS SECTION */
.main-news {
  height: 750px;
  position: relative;
}

.main-news h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495F1D;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 55px;
  margin: 0;
}

.news-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.main-news.pages {
  height: max-content;
}

.news-wrapper.pages {
  margin-top: 62px;
  margin-bottom: 40px;
  gap: 40px 30px;
}

.newsnav {
  margin: 0 0 73px;
}

.newsnav img {
  display: block;
  margin: 0 auto;
}

.news-block {
  height: 520px;
  max-width: 370px;
  background: #F6F7EB;
}

.news-img {
  padding-bottom: 67.5%;
  overflow: hidden;
  position: relative;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.news-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #4F4F4F;
  margin: 17px 31px 0 35px;
}

.news-date {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #BDBDBD;
  margin: 7px 0 0 35px;
}

.news-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  margin: 6px 31px 29px 35px;
}

.news-next {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4F4F4F;
  margin-left: 270px;
}

/* Testimonials section  */
.main-testimonials {
  position: relative;
  height: 700px;
  background: #F6F7EB;
}

.main-testimonials .container {
  position: relative;
}

.tm-bg {
  max-width: 800px;
  margin-left: -140px;
  padding-top: 120px;
}

.tm-wrapper {
  max-width: 100%;
  position: absolute;
  top: 0;
  padding-top: 94px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.tm-block {
  width: 370px;
  height: 475px;
  max-width: 370px;
  background: #fff;
}


.tm-block.head {
  opacity: 0;
}

.tm-header-text {
  position: absolute;
  top: 40%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495F1D;
  margin: 0;
}

.tm-img {
  margin: 31px 123px 26px;
}

.tm-header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0 34px;
  margin: 0;
}

.tm-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  padding: 0 34px;
}

.tm-author {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  margin: 0;
  text-align: center;
}

.circles {
  width: 50px;
  height: 10px;
  position: absolute;
  top: 600px;
  left: 65%;
}

.next {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 325px;
  left: 102%;
}

/* CONTACT */
.contact-block {
  float: left;
  max-width: 320px;
}

.contact-block h4 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #495F1D;
  margin-top: 110px;
  margin-bottom: 50px;
}

.cont-item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.cont-item span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.cont-item img {
  margin-right: 14px;
  vertical-align: middle;

}

.contact-map {
  margin-top: 59px;
  margin-bottom: 74px;
  float: right;
}

.contact-map img {
  width: 100%;
}

.getintoch-wrapper {
  clear: both;
  display: grid;
  grid-template-columns: 50% 50%;
  background: #EFEED9;
}

.getintoch-bg {
  overflow: hidden;
  /* height: 690px; */
}

.getintoch-bg img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.getintoch-block {
  max-width: 570px;
  margin-left: 2.6vw;
  height: 100%;
}

.getintoch-block h4 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495F1D;
  margin-top: 68px;
  margin-bottom: 9px;
}

.getintoch-block p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}


.getintoch-block form {
  margin-top: 64px;
  margin-bottom: 26px;
  width: 100%;
  display: grid;
  grid-template-columns: 270px 270px;
  grid-template-rows: auto auto auto auto;
  row-gap: 20px;
  justify-content: space-between;
}

.getintoch-block input {
  /*  */
}

.getintoch-block #message {
  grid-column: 1 / 3;
  width: 100%;
  height: 130px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #BDBDBD;
  padding-left: 9px;
  padding-top: 11px;
}


.getintoch-block #send {
  grid-column: 1 / 3;
  width: 100%;
}

.contact-bye {
  color: #909090;
  margin-bottom: 100px;
}

/* SUBSCRIBE */
.subscribe {
  position: relative;
  height: 400px;
  background: #F6F7EB;
}

.subscribe-header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495F1D;
  text-align: center;
  padding-top: 68px;
}

.subscribe-invite {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  padding-top: 9px;
  margin-bottom: 73px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: center;
}

.subscribe-wrapper form {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

form input {
  width: 270px;
  height: 45px;
  border: #E7E7E7 1px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-indent: 40px;
  padding: 0;
  color: #BDBDBD;
}

.input-name {
  background: url(/img/user.svg) no-repeat #fff center left 10px/auto 40%;
}

#email {
  background: url(/img/email.svg) no-repeat #fff center left 10px/auto 40%;
}

#phone {
  background: url(/img/email.svg) no-repeat #fff center left 10px/auto 40%;
}

#message {
  background: #fff center left 10px/auto 40%;
  text-indent: 0;
}

form input:last-child {
  background: #A6B03B;
  text-transform: uppercase;
  border: #A6B03B 1px;
  color: #fff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-indent: 0;
}

.subscribe-bye {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #909090;
  text-align: center;
  margin-top: 41px;
}

/* FOOTER */
footer {
  height: 409px;
  background: #EFEED9;
  border-top: #C4C4C4 solid 1px;
}

footer .container {
  position: relative;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-block {
  width: 33.33%;
  max-width: 340px;
}

#footer-logo img {
  width: 250px;
  height: auto;
  margin: 62px 0 19px;
}

.logo p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.footer-follow {
  display: flex;
  margin-top: 21px;
  align-items: center;
  justify-content: flex-start;
}

.footer-follow span {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #495F1D;
  margin-right: 37px;
}

.footer-follow a {
  margin-right: 10px;
}

.footer-links-header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #495F1D;
  margin: 79px 0 29px;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
}

.links ul {
  padding: 0;
  margin: 0;
}

.links li {
  list-style: none;
  margin-bottom: 15px;
  flex-direction: column;
  flex-wrap: wrap;
}

.links a {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}

.links li a:hover {
  color: #a6b03b;
  text-decoration: underline;
}

.links button {
  width: 100px;
  height: 35px;
  border: 1px solid #909090;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin-top: 16px;
  cursor: pointer;
  background: none;
}

.links button:hover {
  background: #a6b03b;
  color: #fff;
}

.footer-contacts-header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #495F1D;
  margin: 79px 0 24px;
}

.cont {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.cont span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.cont img {
  margin-right: 11px;
}

.footer-copyright {
  position: absolute;
  width: 300px;
  top: 350px;
  left: 40%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #919191;
}

/* 
REPURPOSING
 */
.main-repurposing {
  width: 100%;
}

.repurposing-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 805px;
  height: fit-content;
  margin: 40px auto 47px;
}

.repurposing-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 10px;
  padding-bottom: 70px;
}

.repurposing-item {
  background: #FAF9F5;
  padding: 30px 24px 24px;
}

.repurposing-item:hover {
  border: solid #42403b 2px;
}

.repurposing-item h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #495F1D;
}

.repurposing-text h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #495F1D;
  margin-bottom: 15px;
}

.repurposing-text p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.text-block {
  margin-bottom: 50px;
  max-width: 805px;
}

/* Our Team */
.main-ourteam {
  width: 100%;
}

.ourteam-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 805px;
  height: fit-content;
  margin: 35px auto 51px;
}

.ourteam-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  padding-bottom: 78px;
}

.ourteam-item {
  background: #FAF9F5;
  padding: 0 0 40px;
}

.ourteam-img {
  overflow: hidden;
  margin: 0 0 25px;
}

.ourteam-img img {
  width: 100%;
  object-fit: cover;
}

.ourteam-item h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #495F1D;
  margin-bottom: 12px;
}

.ourteam-item p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

/* SERVECES ARTICLE  */

.article-image {
  margin: 83px auto 55px;
  overflow: hidden;
}

.article-image img {
  width: 100%;
  object-fit: cover;
}

.article-text,
.bold-ol,
.dotted-ul {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #4F4F4F;
}

.article-text {
  margin-bottom: 49px;
}

.quote {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  color: #495F1D;
  background: url(/img/services_article/quote.svg) no-repeat, #FAF9F5;
  background-position: 31px 50%;
  background-size: 80px 80px;
  padding: 37px 37px 22px;
  height: fit-content;
  margin-bottom: 50px;
}

.quote p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #4F4F4F;
  text-align: right;
}

.bold-ol {
  margin-bottom: 73px;
  list-style: none;
  counter-reset: list;
}

.bold-ol li {
  counter-increment: list;
}

.bold-ol li::before {
  content: counter(list) ".";
  font-weight: 700;
  color: #495F1D;
  margin-right: 14px;
}

.large-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #495F1D;
  margin-bottom: 17px;
}

.dotted-ul {
  margin-bottom: 93px;
  margin-top: 33px;
  list-style: none;
}

.dotted-ul li {}

.dotted-ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FEE600;
  margin-right: 10px;
  display: inline-block;
}


.sample-h {
  margin-bottom: 158px;
}

.sample-h h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 111px;
  text-transform: uppercase;
  color: #495F1D;
}

.sample-h h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-transform: uppercase;
  color: #495F1D;
}

.sample-h h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  color: #495F1D;
}

.sample-h h4 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #495F1D;
}

.sample-h h5 {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  color: #495F1D;
}

.sample-h p {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #495F1D;
}

table {
  width: 100%;
  height: 149px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #46536A;
  border-spacing: 0;
  /* border-collapse: collapse; */
  margin-bottom: 60px;
}

thead {
  color: #FFFFFF;
  background: #909090;
}

tbody {}

th {
  height: 50px;
  border: solid #D1D7CF 1px;
}

/* PROPERTIES  */
.article-wrapper {
  display: grid;
  grid-template-columns: 48.72% 1fr;
  margin-bottom: 20px;
}

.article-wrapper:first-child {
  margin-top: 80px;
}

.article-wrapper:last-child {
  margin-bottom: 100px;
}

.article-img {
  overflow: hidden;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-item {
  padding: 40px 15px 45px 30px;
  background: #FAF9F5;
}

.article-item h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 23px;
  color: #495F1D;
  margin-bottom: 24px;
}

.article-item h4 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4F4F4F;
  margin-bottom: 12px;
}

.article-item p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #4F4F4F;
  margin-bottom: 13px;
}

.article-item a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #E9CE0B;
  margin-bottom: 29px;
  display: block;
}

.article-item input {
  width: 270px;
  height: 45px;
  background: #A6B03B;
  /* background: #FEE600; */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  /* color: #4F4F4F; */
  color: #fff;
}